@font-face {
	font-family: 'Inter';
	src        : url(build/fonts/Inter-Regular.woff2);
}

@import url(https://db.onlinewebfonts.com/c/8864ba3cfc27587b7541100a6c032a40?family=Microsoft+YaHei+Bold);

@font-face {
	font-family: "Microsoft YaHei Bold";
	src        : url("https://db.onlinewebfonts.com/t/8864ba3cfc27587b7541100a6c032a40.eot");
	src        : url("https://db.onlinewebfonts.com/t/8864ba3cfc27587b7541100a6c032a40.eot?#iefix")format("embedded-opentype"),
		url("https://db.onlinewebfonts.com/t/8864ba3cfc27587b7541100a6c032a40.woff2")format("woff2"),
		url("https://db.onlinewebfonts.com/t/8864ba3cfc27587b7541100a6c032a40.woff")format("woff"),
		url("https://db.onlinewebfonts.com/t/8864ba3cfc27587b7541100a6c032a40.ttf")format("truetype"),
		url("https://db.onlinewebfonts.com/t/8864ba3cfc27587b7541100a6c032a40.svg#Microsoft YaHei Bold")format("svg");
}

* {
	margin : 0;
	padding: 0;
}

body {
	display       : flex;
	flex-direction: column;
	width         : 100%;
	background    : #F5FAFF;
	align-items   : center;
}

content {
	display       : flex;
	flex-direction: column;
	width         : 1290px;
}

header {
	display      : flex;
	width        : 1290px;
	height       : 61px;
	flex-shrink  : 0;
	border-radius: 0px 0px 25px 25px;
	border       : 1px solid rgba(222, 232, 239, 0.50);
	background   : #FFF;
	box-shadow   : 0px 0px 20px 0px rgba(56, 125, 194, 0.04);
}

.header__wrap {
	display        : flex;
	align-items    : center;
	width          : 100%;
	justify-content: space-between;
}

.header__logo-block {
	display    : flex;
	align-items: center;
}

.header__logo {
	width      : 169.047px;
	height     : 32.313px;
	flex-shrink: 0;
	margin-left: 30px;
}

.header__constructor {
	display        : flex;
	width          : 290px;
	height         : 25px;
	flex-direction : column;
	justify-content: center;
	flex-shrink    : 0;
	color          : #656565;
	font-family    : Inter;
	font-size      : 12px;
	font-style     : normal;
	font-weight    : 500;
	line-height    : normal;
	margin-left    : 30px;
}

.header__contacts {
	display: flex;
}

.icon-messanger {
	width             : 30px;
	height            : 30px;
	flex-shrink       : 0;
	fill              : white;
	transition        : 1s;
	-webkit-transition: 1s;
	-moz-transition   : 1s;
	-ms-transition    : 1s;
	-o-transition     : 1s;
}

.tg-hover:hover {
	fill             : blue;
	transform        : scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform   : scale(1.2);
	-ms-transform    : scale(1.2);
	-o-transform     : scale(1.2);
}

.whatsapp {
	fill: white;
}

.whatsapp:hover {
	fill             : black;
	background-color : #D9D9D9;
	transform        : scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform   : scale(1.2);
	-ms-transform    : scale(1.2);
	-o-transform     : scale(1.2);
}

.back-whatsapp {
	fill: #BFC8D0;
}

.whatsapp:hover {
	border: green;
}

.mail-icon {
	fill: #000000;
}

.mail-icon:hover {
	fill             : gold;
	transform        : scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform   : scale(1.2);
	-ms-transform    : scale(1.2);
	-o-transform     : scale(1.2);
}

.header__contacts_block {
	display     : flex;
	margin-right: 18px;
}

.header__contacts_item {
	position       : relative;
	display        : flex;
	justify-content: center;
	align-items    : center;
	margin-right   : 15px;
	cursor         : pointer;
}

.header__contacts_item-back {
	position   : absolute;
	width      : 30px;
	height     : 30px;
	flex-shrink: 0;
}

.header__contacts_name {
	display        : flex;
	width          : 22px;
	height         : 25px;
	flex-direction : column;
	flex-shrink    : 0;
	color          : #313131;
	font-family    : 'Inter';
	font-size      : 12px;
	font-style     : normal;
	font-weight    : 400;
	line-height    : normal;
	z-index        : 5;
	justify-content: center;
	align-items    : center;
}

.header__phone {
	display        : flex;
	width          : 145px;
	height         : 25px;
	flex-direction : column;
	justify-content: center;
	flex-shrink    : 0;
	color          : #656565;
	text-align     : right;
	font-family    : Inter;
	font-size      : 16px;
	font-style     : normal;
	font-weight    : 500;
	line-height    : normal;
	text-decoration: none;
	margin-left    : 55px;
}

main {
	display   : flex;
	margin-top: 20px;
}

.main__section-central-block {
	display: flex;
}

.main__block-central__wrap {
	width         : 920px;
	display       : flex;
	flex-direction: column;
}

.main__calculating-blocks {
	margin-left: 30px;
}

.main__block-central {
	display       : flex;
	flex-direction: column;
	width         : 960px;
	flex-shrink   : 0;
	border-radius : 25px;
	border        : 1px solid rgba(222, 232, 239, 0.50);
	background    : #FFF;
	box-shadow    : 0px 0px 20px 0px rgba(56, 125, 194, 0.04);
	align-items   : center;
}

.main__download-block {
	display        : flex;
	width          : 920px;
	height         : 220px;
	flex-shrink    : 0;
	border-radius  : 5px;
	border         : 1px solid rgba(222, 232, 239, 0.50);
	background     : rgba(245, 250, 255, 0.40);
	margin-top     : 20px;
	justify-content: center;
}

.main__download-block_button-block {
	display        : flex;
	justify-content: center;
	align-items    : center;
	flex-direction : column;
}

.main__block-calculate {
	width        : 300px;
	flex-shrink  : 0;
	border-radius: 25px;
	border       : 1px solid rgba(222, 232, 239, 0.50);
	background   : #FFF;
	box-shadow   : 0px 0px 20px 0px rgba(56, 125, 194, 0.04);
}

.main__block-calculate_wrap {
	display       : flex;
	flex-direction: column;
	margin-top    : 15px;
	padding-left  : 20px;
	padding-right : 20px;
	box-sizing    : border-box;
}

.main__block-calculate-headline {
	display        : flex;
	width          : 160px;
	height         : 30px;
	flex-direction : column;
	justify-content: center;
	flex-shrink    : 0;
	color          : #AFAFAF;
	font-family    : Inter;
	font-size      : 16px;
	font-style     : normal;
	font-weight    : 700;
	line-height    : normal;
}

.order-block {
	display       : flex;
	flex-direction: column;
}

.quantity-block {
	display        : flex;
	align-items    : center;
	width          : 100%;
	justify-content: space-between;
}

.order-block__item {
	display        : flex;
	width          : 122px;
	height         : 25px;
	flex-direction : column;
	justify-content: center;
	flex-shrink    : 0;
	color          : #313131;
	font-family    : Inter;
	font-size      : 12px;
	font-style     : normal;
	font-weight    : 400;
	line-height    : normal;
}

.order-block__area {
	display        : flex;
	justify-content: center;
	flex-shrink    : 0;
	color          : #313131;
	text-align     : center;
	font-family    : Inter;
	font-size      : 12px;
	font-style     : normal;
	font-weight    : 400;
	line-height    : normal;
	align-items    : center;
}

.order-block-text {
	display        : flex;
	width          : 40px;
	height         : 25px;
	flex-direction : column;
	justify-content: center;
	flex-shrink    : 0;
	color          : #313131;
	text-align     : center;
	font-family    : Inter;
	font-size      : 12px;
	font-style     : normal;
	font-weight    : 400;
	line-height    : normal;
	margin-top     : 0;
}

.order-block-piece {
	display        : flex;
	width          : 40px;
	height         : 25px;
	flex-direction : column;
	justify-content: center;
	flex-shrink    : 0;
	margin-left    : 10px;
}


.download-block_button {
	display        : flex;
	width          : 299px;
	height         : 50px;
	justify-content: center;
	align-items    : center;
	gap            : 10px;
	flex-shrink    : 0;
	border-radius  : 30px;
	background     : #2B8CED;
	color          : #FFF;
	font-family    : Inter;
	font-size      : 16px;
	font-style     : normal;
	font-weight    : 500;
	line-height    : normal;
	border         : none;
	cursor         : pointer;
}

.goods-block {
	display       : flex;
	margin-top    : 15px;
	flex-direction: column;
}

.download-block-notification {
	display        : flex;
	width          : 299px;
	height         : 30px;
	flex-direction : column;
	justify-content: center;
	flex-shrink    : 0;
	color          : #313131;
	text-align     : center;
	font-family    : Inter;
	font-size      : 12px;
	font-style     : normal;
	font-weight    : 400;
	line-height    : normal;
}

.order-block__item-wrap {
	display       : flex;
	flex-direction: column;
}

.preliminary-calculation {
	display        : flex;
	width          : 166px;
	height         : 30px;
	flex-direction : column;
	justify-content: center;
	flex-shrink    : 0;
	color          : #313131;
	font-family    : Inter;
	font-size      : 12px;
	font-style     : normal;
	font-weight    : 400;
	line-height    : normal;
}

.goods-block-price {
	display        : flex;
	width          : 105px;
	height         : 30px;
	flex-direction : column;
	justify-content: center;
	flex-shrink    : 0;
	color          : #313131;
	text-align     : right;
	font-family    : Inter;
	font-size      : 12px;
	font-style     : normal;
	font-weight    : 400;
	line-height    : normal;
}

.green-modify {
	display        : flex;
	width          : 105px;
	height         : 30px;
	flex-direction : column;
	justify-content: center;
	flex-shrink    : 0;
	color          : #377611;
	text-align     : right;
	font-family    : Inter;
	font-size      : 12px;
	font-style     : normal;
	font-weight    : 400;
	line-height    : normal;
}

.send-order-block {
	display        : flex;
	flex-direction : column;
	margin-top     : 35px;
	justify-content: center;
	align-items    : center;
}

.send-order-button {
	color          : #FFF;
	font-family    : 'Inter';
	font-size      : 16px;
	font-style     : normal;
	font-weight    : 500;
	line-height    : normal;
	display        : flex;
	width          : 240px;
	height         : 40px;
	justify-content: center;
	align-items    : center;
	gap            : 10px;
	flex-shrink    : 0;
	border-radius  : 30px;
	border         : none;
	background     : rgba(43, 140, 237, 0.40);
	cursor         : pointer;
}

.new-order {
	display             : flex;
	flex-direction      : column;
	justify-content     : center;
	flex-shrink         : 0;
	color               : #2B8CED;
	text-align          : center;
	font-family         : Inter;
	font-size           : 16px;
	font-style          : normal;
	font-weight         : 400;
	line-height         : normal;
	text-decoration-line: underline;
	margin-bottom       : 15px;
	height              : 30px;
}

.discount-10-pieces {
	display        : flex;
	width          : 105px;
	height         : 30px;
	flex-direction : column;
	justify-content: center;
	flex-shrink    : 0;
	color          : #BE0000;
	text-align     : right;
	font-family    : Inter;
	font-size      : 12px;
	font-style     : normal;
	font-weight    : 400;
	line-height    : normal;
}

.main__section-selections {
	margin-top     : 30px;
	display        : flex;
	width          : 100%;
	justify-content: space-between;
	flex-direction : column;
}

.main__section-selections_material-of-base {
	display    : flex;
	align-items: center;
}

.selection__headline {
	display        : flex;
	width          : 122px;
	height         : 30px;
	flex-direction : column;
	justify-content: center;
	flex-shrink    : 0;
	color          : #313131;
	font-family    : 'Inter';
	font-size      : 16px;
	font-style     : normal;
	font-weight    : 400;
	line-height    : 100%;
	margin-right   : 74px;
}

.selection__headline-additional {
	display        : flex;
	width          : 147px;
	height         : 30px;
	flex-direction : column;
	justify-content: center;
	flex-shrink    : 0;
	color          : #313131;
	font-family    : Inter;
	font-size      : 16px;
	font-style     : normal;
	font-weight    : 400;
	line-height    : 100%;
	margin-right   : 43px;
}

.boards-order {
	display        : flex;
	width          : 147px;
	height         : 30px;
	flex-direction : column;
	justify-content: center;
	flex-shrink    : 0;
	margin-right   : 43px;
}

.panelization {
	margin-right: 43px;
	width       : 147px;
	height      : 30px;
}

.thickness {
	margin-right: 120px;
	width       : 70px;
}

.mask-color {
	width       : 92px;
	margin-right: 98px;
}

.marking-color {
	width       : 139px;
	margin-right: 51px;
}

.coverage {
	width       : 79px;
	margin-right: 111px;
}

.material-of-base__tabs {
	display: flex;
}

.material-of-base__tab {
	display        : flex;
	height         : 50px;
	padding        : 5px 20px;
	justify-content: center;
	align-items    : center;
	gap            : 10px;
	margin-right   : 15px;
	border-radius  : 2px;
	border         : 2px solid #DBDBDB;
	background     : #FFF;
	flex-direction : column;
	text-decoration: none;
	transition     : 1s;
}

.material-of-base__tab:hover {
	height       : 50px;
	border-radius: 2px;
	border       : 2px solid #2B8CED;
	background   : #F2F8FF;
}

.material-of-base__tab_name {
	color             : #313131;
	font-family       : Inter;
	font-size         : 12px;
	font-style        : normal;
	font-weight       : 500;
	line-height       : normal;
	transition        : 1s;
	-webkit-transition: 1s;
	-moz-transition   : 1s;
	-ms-transition    : 1s;
	-o-transition     : 1s;
}

.main__customer-data {
	width         : 300px;
	border-radius : 25px;
	border        : 1px solid rgba(222, 232, 239, 0.50);
	background    : #FFF;
	box-shadow    : 0px 0px 20px 0px rgba(56, 125, 194, 0.04);
	margin-top    : 20px;
	display       : flex;
	flex-direction: column;
	align-items   : center;
}

form {
	display       : flex;
	flex-direction: column;
	margin-top    : 10px;
}

.form__headline {
	display        : flex;
	width          : 185px;
	height         : 30px;
	flex-direction : column;
	justify-content: center;
	flex-shrink    : 0;
	color          : #AFAFAF;
	font-family    : 'Inter';
	font-size      : 16px;
	font-style     : normal;
	font-weight    : 700;
	line-height    : normal;
}

input {
	width        : 260px;
	height       : 30px;
	flex-shrink  : 0;
	border-radius: 2px;
	border       : 1px solid #DBDBDB;
	background   : rgba(245, 250, 255, 0.40);
	color        : #AFAFAF;
	font-family  : Inter;
	font-size    : 12px;
	font-style   : normal;
	font-weight  : 400;
	line-height  : normal;
	margin-top   : 10px;
	padding-left : 10px;
}

input[type="textarea"] {
	width        : 260px;
	height       : 130px;
	flex-shrink  : 0;
	border-radius: 2px;
	border       : 1px solid #DBDBDB;
	background   : rgba(245, 250, 255, 0.40);
}

.checkbox-block {
	display      : flex;
	margin-top   : 10px;
	align-items  : center;
	margin-bottom: 20px;
}


.checkbox {
	width        : 15px;
	height       : 15px;
	flex-shrink  : 0;
	border-radius: 2px;
	border       : 1px solid #DBDBDB;
	background   : #FBFBFB;
	margin-top   : 0;
	margin-right : 3px;
}

.checkbox-name {
	display        : flex;
	width          : 237px;
	height         : 25px;
	flex-direction : column;
	justify-content: center;
	flex-shrink    : 0;
	color          : #313131;
	font-family    : Inter;
	font-size      : 9px;
	font-style     : normal;
	font-weight    : 400;
	line-height    : normal;
}

.size {
	width        : 50px;
	height       : 30px;
	border-radius: 2px;
	border       : 1px solid #DBDBDB;
	background   : #FFF;
	padding-left : 0;
	margin-left  : 0px;
	margin-top   : auto;
}

.size:focus-visible {
	border-radius: 2px;
	border       : 1px solid #2B8CED;
	background   : #FFF;
}

.sizes__tabs {
	display   : flex;
	margin-top: 20px;
}

.sizes__block-measurement {
	display    : flex;
	align-items: center;
}

.X {
	display        : flex;
	width          : 27px;
	height         : 30px;
	flex-direction : column;
	justify-content: center;
	color          : #313131;
	text-align     : center;
	font-family    : 'Inter';
	font-size      : 16px;
	font-style     : normal;
	font-weight    : 400;
	line-height    : normal;
	margin-left    : 10px;
}

.measurement {
	display        : flex;
	width          : 28px;
	height         : 30px;
	flex-direction : column;
	justify-content: center;
	color          : #313131;
	font-family    : 'Inter';
	font-size      : 16px;
	font-style     : normal;
	font-weight    : 400;
	line-height    : normal;
	margin-left    : 10px;
	align-self     : center;
}

.product-type-block {
	display   : flex;
	margin-top: 20px;
}

.product-type-block__name {
	color             : #313131;
	font-family       : Inter;
	font-size         : 16px;
	font-style        : normal;
	font-weight       : 400;
	line-height       : normal;
	display           : flex;
	height            : 30px;
	padding           : 5px 15px;
	justify-content   : center;
	align-items       : center;
	gap               : 10px;
	text-decoration   : none;
	border-radius     : 2px;
	border            : 2px solid #DBDBDB;
	background        : #FFF;
	margin-right      : 15px;
	transition        : 1s;
	-webkit-transition: 1s;
	-moz-transition   : 1s;
	-ms-transition    : 1s;
	-o-transition     : 1s;
}

.product-type-block__name:hover {
	color        : #2B8CED;
	font-family  : Inter;
	font-size    : 16px;
	font-style   : normal;
	font-weight  : 500;
	line-height  : normal;
	border-radius: 2px;
	border       : 2px solid #2B8CED;
	background   : #F2F8FF;
}

.specification {
	display      : flex;
	width        : 920px;
	height       : auto;
	flex-shrink  : 0;
	margin-top   : 30px;
	position     : relative;
	border-radius: 5px;
	border       : 1px solid #D9D9D9;
}

.specification__label-corner {
	color      : #AFAFAF;
	font-family: Inter;
	font-size  : 12px;
	font-style : normal;
	font-weight: 700;
	line-height: normal;
	position   : absolute;
	top        : -8px;
	left       : 29px;
}

.boards-order-block,
.panelization-block,
.foil-thickness-block {
	display: flex;
}

.boards-order-block__name {
	color             : #313131;
	font-family       : Inter;
	font-size         : 16px;
	font-style        : normal;
	font-weight       : 500;
	line-height       : normal;
	display           : flex;
	height            : 30px;
	padding           : 5px 20px;
	justify-content   : center;
	align-items       : center;
	gap               : 10px;
	border-radius     : 2px;
	border            : 2px solid #DBDBDB;
	background        : #FFF;
	text-decoration   : none;
	margin-right      : 15px;
	transition        : 1s;
	-webkit-transition: 1s;
	-moz-transition   : 1s;
	-ms-transition    : 1s;
	-o-transition     : 1s;
}

.boards-order-block__name:hover,
.selection__name:hover,
.thickness__name:hover,
.coverage__name:hover {
	color             : #2B8CED;
	font-family       : Inter;
	font-size         : 16px;
	font-style        : normal;
	font-weight       : 500;
	line-height       : normal;
	border-radius     : 2px;
	border            : 2px solid #2B8CED;
	background        : #F2F8FF;
	transition        : 1s;
	-webkit-transition: 1s;
	-moz-transition   : 1s;
	-ms-transition    : 1s;
	-o-transition     : 1s;
}

.specification__wrap {
	margin-top : 20px;
	margin-left: 10px;
}

.panelization-block,
.thickness-block,
.mask-color-block,
.marking-color-block,
.coverage-block,
.type-transition-holes-block {
	margin-top : 20px;
	display    : flex;
	align-items: center;
}

.coverage-block {
	margin-bottom: 19px;
}


.thickness__name {
	border-radius  : 2px;
	border         : 2px solid #DBDBDB;
	background     : #FFF;
	text-decoration: none;
	color          : #313131;
	font-family    : Inter;
	font-size      : 16px;
	font-style     : normal;
	font-weight    : 400;
	line-height    : normal;
	margin-right   : 15px;
	display        : flex;
	padding        : 5px 20px;
	justify-content: center;
	align-items    : center;
	gap            : 10px;
}

.mask-color__name {
	display        : flex;
	padding        : 5px 20px;
	justify-content: center;
	align-items    : center;
	gap            : 10px;
	border-radius  : 2px;
	border         : 1px solid #DBDBDB;
	background     : #FFF;
	margin-right   : 15px;
}

.marking-color__name {
	display        : inline-flex;
	padding        : 5px 20px;
	justify-content: center;
	align-items    : center;
	gap            : 10px;
	flex-shrink    : 0;
	border-radius  : 2px;
	border         : 1px solid #DBDBDB;
	background     : #FFF;
}


.coverage__name {
	color          : #313131;
	font-family    : 'Inter';
	font-size      : 16px;
	font-style     : normal;
	font-weight    : 400;
	line-height    : normal;
	display        : flex;
	height         : 30px;
	padding        : 5px 15px;
	justify-content: center;
	align-items    : center;
	gap            : 10px;
	border-radius  : 2px;
	border         : 2px solid #DBDBDB;
	background     : #FFF;
	text-decoration: none;
	color          : #313131;
	font-family    : Inter;
	font-size      : 16px;
	font-style     : normal;
	font-weight    : 400;
	line-height    : normal;
	margin-right   : 15px;
}

.selection__name {
	display        : flex;
	height         : 30px;
	padding        : 5px 15px;
	justify-content: center;
	align-items    : center;
	gap            : 10px;
	color          : #313131;
	font-family    : Inter;
	font-size      : 16px;
	font-style     : normal;
	font-weight    : 400;
	line-height    : normal;
	text-decoration: none;
	border-radius  : 2px;
	border         : 2px solid #DBDBDB;
	background     : #FFF;
	margin-right   : 15px;
}

.selection__name:last-child {
	margin-right: 0;
}

.pb {
	width          : 260px;
	display        : flex;
	height         : 50px;
	padding        : 5px 15px;
	justify-content: center;
	align-items    : center;
	gap            : 10px;
}

.without-pb {
	width          : 195px;
	display        : flex;
	height         : 50px;
	padding        : 5px 15px;
	justify-content: center;
	align-items    : center;
	gap            : 10px;
}

.gold--modify {
	width          : 125px;
	display        : flex;
	height         : 50px;
	padding        : 5px 15px;
	justify-content: center;
	align-items    : center;
	gap            : 10px;
}

.additional-options-block {
	position      : relative;
	display       : flex;
	flex-direction: column;
	width         : 915px;
	height        : auto;
	flex-shrink   : 0;
	border-radius : 5px;
	border        : 1px solid #D9D9D9;
	margin-top    : 19px;
}

.additional-options-block__wrap {
	margin-top : 32px;
	margin-left: 10px;
	box-sizing : border-box;
}

.foil-thickness__name {
	display           : flex;
	height            : 30px;
	padding           : 5px 20px;
	justify-content   : center;
	align-items       : center;
	gap               : 10px;
	border-radius     : 2px;
	border            : 2px solid #DBDBDB;
	background        : #FFF;
	text-decoration   : none;
	margin-right      : 15px;
	color             : #313131;
	font-family       : Inter;
	font-size         : 12px;
	font-style        : normal;
	font-weight       : 400;
	line-height       : 100%;
	transition        : 1s;
	-webkit-transition: 1s;
	-moz-transition   : 1s;
	-ms-transition    : 1s;
	-o-transition     : 1s;
}

.foil-1 {
	width          : 75px;
	display        : flex;
	height         : 50px;
	padding        : 5px 15px;
	justify-content: center;
	align-items    : center;
	gap            : 10px;
}

.foil-3 {
	width          : 90px;
	display        : flex;
	height         : 50px;
	padding        : 5px 15px;
	justify-content: center;
	align-items    : center;
	gap            : 10px;
}

.foil-5 {
	width          : 125px;
	display        : flex;
	height         : 50px;
	padding        : 5px 15px;
	justify-content: center;
	align-items    : center;
	gap            : 10px;
}

.foil-thickness__name:hover {
	color        : #2B8CED;
	font-family  : Inter;
	font-size    : 12px;
	font-style   : normal;
	font-weight  : 500;
	line-height  : 100%;
	border-radius: 2px;
	border       : 2px solid #2B8CED;
	background   : #F2F8FF;
}


.accuracy-circuit-board-block,
.confirm-working-file-block,
.Do-not-apply-marking-block,
.electrical-control-block,
.coating-of-lamellas-gold-block,
.marginal-half-holes-block,
.face-metallization-block {
	display      : flex;
	align-items  : center;
	margin-top   : 20px;
	margin-bottom: 19px;
}

.accuracy-circuit-board__name {
	color             : #313131;
	font-family       : Inter;
	font-size         : 16px;
	font-style        : normal;
	font-weight       : 500;
	line-height       : normal;
	display           : flex;
	height            : 30px;
	padding           : 5px 20px;
	justify-content   : center;
	align-items       : center;
	gap               : 10px;
	border-radius     : 2px;
	border            : 2px solid #DBDBDB;
	background        : #FFF;
	margin-right      : 15px;
	text-decoration   : none;
	transition        : 1s;
	-webkit-transition: 1s;
	-moz-transition   : 1s;
	-ms-transition    : 1s;
	-o-transition     : 1s;
}

.accuracy-circuit-board__name:hover,
.confirm-working-file__name:hover {
	color        : #2B8CED;
	font-family  : Inter;
	font-size    : 16px;
	font-style   : normal;
	font-weight  : 500;
	line-height  : normal;
	border-radius: 2px;
	border       : 2px solid #2B8CED;
	background   : #F2F8FF;
}

.confirm-working-file__name {
	color             : #313131;
	font-family       : Inter;
	font-size         : 16px;
	font-style        : normal;
	font-weight       : 500;
	line-height       : normal;
	border-radius     : 2px;
	border            : 2px solid #DBDBDB;
	background        : #FFF;
	display           : flex;
	padding           : 5px 20px;
	justify-content   : center;
	align-items       : center;
	gap               : 10px;
	text-decoration   : none;
	margin-right      : 15px;
	transition        : 1s;
	-webkit-transition: 1s;
	-moz-transition   : 1s;
	-ms-transition    : 1s;
	-o-transition     : 1s;
}

.specify-location {
	display        : flex;
	padding        : 5px 20px;
	justify-content: center;
	align-items    : center;
	gap            : 10px;
}

.comments-block {
	width        : 915px;
	height       : 90px;
	flex-shrink  : 0;
	border-radius: 5px;
	border       : 1px solid #D9D9D9;
	margin-top   : 20px;
	position     : relative;
}

.switchers-block-wrapper {
	display       : flex;
	flex-direction: column;
	margin-top    : 30px;
}

.switcher-block {
	display    : flex;
	align-items: center;
	position   : relative;
}

.PCB-Assembly-block {
	display        : flex;
	width          : 100%;
	justify-content: space-between;
	margin-bottom  : 20px;
	align-items    : center;
}

.PCB-Assembly-label-block {
	display: flex;
}

.PCB-Assembly-icon {}

.PCB-Assembly-name {
	display        : flex;
	width          : 119.25px;
	height         : 20px;
	flex-direction : column;
	justify-content: center;
	flex-shrink    : 0;
	color          : #222;
	font-family    : 'Microsoft YaHei';
	font-size      : 16.594px;
	font-style     : normal;
	font-weight    : 700;
	line-height    : normal;
	margin-left    : 16px;
	align-self     : center;
}


.switcher-block__name {
	display        : flex;
	width          : 213.39px;
	height         : 16px;
	flex-direction : column;
	justify-content: center;
	flex-shrink    : 0;
	color          : #8D8D8D;
	font-family    : 'Microsoft YaHei';
	font-size      : 13.125px;
	font-style     : normal;
	font-weight    : 400;
	line-height    : normal;
	position       : relative;
	align-items    : center;
	margin-right   : 47px;
}

.switcher-button {
	display: flex;
}

.switch {
	transform        : translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform   : translate(-50%, -50%);
	-ms-transform    : translate(-50%, -50%);
	-o-transform     : translate(-50%, -50%);
	width            : 44px;
	height           : 26px;
	display          : flex;
	align-items      : center;
	margin-bottom    : 0;
	position         : relative;
	top              : 14px;
}

.switch-checkbox-firm {
	position             : relative;
	-webkit-appearance   : none;
	outline              : none;
	background           : #c6c6c6;
	-webkit-border-radius: 20px;
	-moz-border-radius   : 20px;
	-ms-border-radius    : 20px;
	-o-border-radius     : 20px;
	transition           : .5s;
	-webkit-transition   : .5s;
	-moz-transition      : .5s;
	-ms-transition       : .5s;
	-o-transition        : .5s;
	margin-top           : 0;
	width                : 44px;
	height               : 26px;
}

.switch-checkbox-firm:checked {
	background: #fff;
}

.switch-checkbox-firm:before {
	content              : '';
	position             : absolute;
	border-radius        : 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius   : 20px;
	-ms-border-radius    : 20px;
	-o-border-radius     : 20px;
	top                  : 1px;
	left                 : 0;
	background           : #fff;
	transition           : 1s;
	-webkit-transition   : 1s;
	-moz-transition      : 1s;
	-ms-transition       : 1s;
	-o-transition        : 1s;
	transform            : scale(1.1);
	-webkit-transform    : scale(1.1);
	-moz-transform       : scale(1.1);
	-ms-transform        : scale(1.1);
	-o-transform         : scale(1.1);
	box-shadow           : 0 2px 5px rgba(0, 0, 0, .2);
	width                : 22px;
	height               : 22px;
	flex-shrink          : 0;
}

.switch-checkbox-firm:checked::before {
	left: 18px;
}


footer {
	display        : flex;
	width          : 100%;
	height         : 180px;
	flex-shrink    : 0;
	background     : #5A6266;
	justify-content: space-between;
}

.footer__wrap {
	display        : flex;
	width          : 100%;
	align-items    : center;
	padding-left   : 130px;
	padding-right  : 130px;
	box-sizing     : border-box;
	justify-content: space-between;
}

.footer__info-company {
	width        : 313px;
	flex-shrink  : 0;
	color        : #FFF;
	font-family  : Inter;
	font-size    : 16px;
	font-style   : normal;
	font-weight  : 400;
	line-height  : normal;
	margin-bottom: 10px;
}

.name-firm,
.firm-datam .firm-location {
	color      : #FFF;
	font-family: Inter;
	font-size  : 16px;
	font-style : normal;
	font-weight: 400;
	line-height: normal;
}

.name-firm {
	margin-top: 20px;
}

.firm-data {
	margin-top: 20px;
}

.firm-location {
	margin-top: 20px;
}

.footer-contacts-modify {
	display        : flex;
	flex-direction : column;
	margin-right   : 0;
	justify-content: center;
	align-items    : center;
}

.footer-phone {
	margin-left: 0;
	color      : #FFF;
	text-align : right;
	font-family: Inter;
	font-size  : 16px;
	font-style : normal;
	font-weight: 500;
	line-height: normal;
	margin-top : 8px;
}